# parameters in design space

# input
  net_file_name : ./v2verification/net/09_resnet50.prototxt # net description file, get the total operations
  net_instr_dir : ./inception_v1                 # our generated instructions for a net, get the memory request

# dpu
  pixel_parallel       :  [4, 8, 4]                           # [min, max, step]
  channel_in_parallel  :  [8, 16, 8]
  channel_out_parallel :  [16, 16, 1]
  calc_parallel        :  [256, 4096]                         # the valid range of resource of calculation
  mac_utilization      :  0.4
  clock_frequency      :  500                                 # in MHz

# bank
  bank_depth           : 2048
  image_bank_group     : 3

# ddr
  hp_width          : 8                                       # in byte
  double_clock_rate : 1600                                    # in MHz
